registry=http://localhost:8081/repository/npm-hosted-releases/

# Scoped authentication for Nexus registry
//localhost:8081/repository/npm-hosted-releases/:_auth=<base64-encoded-username:password>
//localhost:8081/repository/npm-hosted-releases/:email=<your-email>
//localhost:8081/repository/npm-hosted-releases/:always-auth=true
strict-ssl=false